<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Added</title>
    <link rel="stylesheet" href="../assets/css/stylesheet.css">

</head>
<body>
    <div id = "subtopics">
        <div id="success">
            <h1>Successfully created a new profile!</h1>
        </div>
        <div class="buttons">
            <div class="lower-buttons">
                <button type="button" th:onclick="|window.location.href='/redirect'|" id="redirect">Back to login</button>
            </div>
        </div>
    </div>


</body>
</html>