<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Page</title>
    <link rel="stylesheet" href="../assets/css/stylesheet.css">
    <title>Homepage</title>
</head>
<body>
<div id="subtopics">

    <div id="success">
        <h1>Hello and welcome!!</h1>
    </div>
</div>
<div class="buttons">
    <div class="lower-buttons">
        <button type="button" th:onclick="|window.location.href='/redirect'|" id="redirect">Logout</button>
    </div>
</div>

</body>
</html>