<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Page</title>
    <link rel="stylesheet" href="../assets/css/stylesheet.css">

</head>
<body>
<div id="subtopics">
    <h1>Login Page</h1>

    <div id="login_info">
        <form id="loginForm" action="#" th:action="@{/login}" th:object="${user}" method="post">
            <p>Username: <input id="username" type="text" placeholder="Enter Username" th:field="*{username}"></p>
            <p>Password: <input id="password" type="password" placeholder="Enter Password" th:field="*{password}"></p>
            <p><input id="submissionButton" type="submit" value="Submit"></p>

        </form>
     </div>

    <div class="buttons">
        <div id="upper-buttons">
            <!--<button id="login">Login</button>-->
        </div>
        <div class="lower-buttons">
            <button type="button" th:onclick="|window.location.href='/register'|" id="new">Create a new account</button>
        </div>
    </div>
</div>

</body>
</html>

