<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Page</title>
    <link rel="stylesheet" href="../assets/css/stylesheet.css">

</head>
<body>
<div id="subtopics">
    <h1>Login Page</h1>

    <div id="errorMessage" th:if="${param.error}" style="color: red">
        <p>Invalid username or password.</p>
    </div>

    <div id="login_info">
        <form id="loginForm" th:action="@{/login}" th:object="${user}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <p>Username: <input id="username" type="text" name="username" placeholder="Enter Username" th:field="*{username}"></p>
            <p>Password: <input id="password" type="password" name="password" placeholder="Enter Password" th:field="*{password}"></p>
            <p><input id="loginSubmissionButton" type="submit" value="Submit"></p>

        </form>
     </div>

    <div class="buttons">
        <div id="upper-buttons">
            <!--<button id="login">Login</button>-->
        </div>
        <div class="lower-buttons">
            <button type="button" th:onclick="|window.location.href='/register'|" id="new">Create a new account</button>
        </div>
    </div>
</div>

</body>
</html>

